<template name="DocSearchTemplateList">
	{{#if Template.subscriptionsReady}}
	<div class="col-lg-4">
		<div class="widget-head-color-box navy-bg p-lg text-center">
			<div class="m-b-md">
				<h2 class="font-bold no-margins">
				{{name}}
				</h2>
				<small>{{doctor_fields.short_description}}</small>
			</div>
			<img src="{{image}}" class="img-circle circle-border m-b-md" alt="profile">
			<div>
				<span>100 Tweets</span> |
				<span>350 Following</span> |
				<span>610 Followers</span>
			</div>
		</div>
		<div class="widget-text-box">
			<h4 class="media-heading">{{name}}</h4>
			<p>{{doctor_fields.speciality}}</p>
			<div class="text-right">
				<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
				<a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
			</div>
		</div>
	</div>
	{{else}}
    Loading...
  {{/if}}
</template>

