<template name="Logins">
	{{#if Template.subscriptionsReady}}
	  <paper-header-panel class="flex">
    <paper-toolbar>
            {{#autoForm id="login_form" schema="LoginSchema.login" class="form-inline" template="materialize"}}
       <li>{{> afQuickField name='email' }}</li>
       <li>{{> afQuickField name='password'  type="password" }}</li>
							<li><button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons">send</i>
  				</button></li>
								{{/autoForm}}
    </paper-toolbar>
  </paper-header-panel>
<paper-card heading="Card Title">
  <div class="card-content">Some content</div>
  <div class="card-actions">
    <paper-button>Some action</paper-button>
  </div>
</paper-card>

{{>login}}

	{{else}} Loading... {{/if}}
</template>


<template name="login">
			<h2><b>Register Here</b></h2>
			{{#autoForm id="register_form" schema="LoginSchema.register" template="materialize"}} 
			<div class="col s6">{{> afQuickField name='firstName' }} </div>
				<div class="col s6">{{> afQuickField name='lastName'   }} </div>
				<div class="col s6">{{> afQuickField name='email'  }} </div>
				<div class="col s6">{{> afQuickField name='birthday' type="pickadate"  }}</div>
				<div class="col s6">{{> afQuickField name='password' type="password" }} </div>
				<div class="col s6">{{> afQuickField name='confirmPassword'  type="password" }}</div> 
				<div class="col s6">{{> afQuickField name="gender" options="allowed" type="select-radio-inline"}} </div>
			 <div class="col s6"><button class="btn waves-effect waves-light" type="submit" name="action">Sign-Up
    <i class="material-icons">send</i></button></div>
			{{/autoForm}}
</template>
