<template name="Logins">
	{{#if Template.subscriptionsReady}}
  <nav class="top-nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">M+</a>
      <ul class="right hide-on-med-and-down">
      {{#autoForm id="login_form" schema="LoginSchema.login" class="form-inline" template="materialize"}}
       <li>{{> afQuickField name='email' }}</li>
       <li>{{> afQuickField name='password'  type="password" }}</li>
							<li><button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons">send</i>
  				</button></li>
								{{/autoForm}}
      </ul>
    </div>
  </nav>
    <!-- Page Layout here -->
    <div class="row">

      <div class="col s7">
        <div class="image-hover text-center middle-box" style="position:absolute;">
								<h1 class="logo-name" style="color:#1AB394;">M+</h1>
								<h3>Welcome to M+</h3>
								<p>Perfectly designed and precisely prepared admin application for physicians.</p>
								<p>Login in. To see it in action.</p>
							</div>
							<div class="video-hover">
								<br>
								<video class="vid" width='100%'>
									<source src="video/video.mp4" type="video/mp4" />
								</video>
								<br>
							</div>
      </div>

      <div class="col s5">
        <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Physician</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Patient</a></li>

      </ul>
    </div>
    
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
{{>login}}
  </div>

      </div>
    </div>
	{{else}} Loading... {{/if}}
</template>


<template name="login">
			<h2><b>Register Here</b></h2>
			{{#autoForm id="register_form" schema="LoginSchema.register" template="materialize"}} 
			<div class="col s6">{{> afQuickField name='firstName' }} </div>
				<div class="col s6">{{> afQuickField name='lastName'   }} </div>
				<div class="col s6">{{> afQuickField name='email'  }} </div>
				<div class="col s6">{{> afQuickField name='birthday' type="pickadate"  }}</div>
				<div class="col s6">{{> afQuickField name='password' type="password" }} </div>
				<div class="col s6">{{> afQuickField name='confirmPassword'  type="password" }}</div> 
				<div class="col s6">{{> afQuickField name="gender" options="allowed" type="select-radio-inline"}} </div>
			 <div class="col s6"><button class="btn waves-effect waves-light" type="submit" name="action">Sign-Up
    <i class="material-icons">send</i></button></div>
			{{/autoForm}}
</template>
