<template name="Logins">
	{{#if Template.subscriptionsReady}}
	<paper-header-panel>
	<div class="paper-header">				
		<div class="horizontal end-justified layout">
			<div>			
<!-- #03a9f4 -->

				{{#PolyForm id="login_form" schema="LoginSchema.login" layout='inline' hooks=hooks}}
				{{> Polyfield name='email' }}
				{{> Polyfield name='password'}} 
				{{/PolyForm}}
			</div>
		</div>
		<button type="button" id="diagnose" class="btn btn-primary">DIAGNOSE</button>
	</div>
	<div class="fit">content fits 100% below the header</div>
</paper-header-panel>

<div class="white-bg	col-lg-12">
	<div class="col-lg-8">
		<div class="image-hover text-center middle-box" style="position:absolute;">
			<h1 class="logo-name" style="color:#1AB394;">M+</h1>
			<h3>Welcome to M+</h3>
			<p>Perfectly designed and precisely prepared admin application for physicians.</p>
			<p>Login in. To see it in action.</p>
		</div>
		<div class="video-hover">
			<br>
			<video class="vid" width='100%'>
				<source src="video/video.mp4" type="video/mp4" />
			</video>
			<br>
		</div>
	</div>
	<div class="panel blank-panel col-lg-4 text-center">
		<div class="panel-heading">
			<div class="panel-options">
				<ul class="nav nav-justified">
					<li class=""><a data-toggle="tab" href="#tabdoc"><i class="fa fa-user-md fa-2x"></i>Physician</a>
					</li>
					<li class=""><a data-toggle="tab" href="#tabdoc"><i class="fa fa-wheelchair fa-2x"></i>Patient</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div id="tabdoc" class="tab-pane active well">
					{{>login}}
				</div>
			</div>
		</div>
	</div>
</div>



{{else}} Loading... {{/if}}
</template>


<template name="login">
	{{#PolyForm id="register_form" schema="LoginSchema.register" heading='Register Here' hooks=hooks}} 
	    <!-- {{>Polyfield name=''}} 			-->

				{{> Polyfield name='firstName'  }} 
				{{> Polyfield name='lastName'  }} 
				{{> Polyfield name='email'  }} 
				{{> Polyfield name='password' }} 
				{{> Polyfield name='confirmPassword' }} 
				{{> Polyfield name="gender" }} 
				{{> Polyfield name='birthday'  }} 

	{{/PolyForm}}
</template>